@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,700&subset=cyrillic');

body {display: inline-block; background: #fafafa; color: #7e7e7e; font-size: 18px; font-family: 'Open Sans Condensed', sans-serif; font-weight: 300; margin:0 auto; padding: 0;}
h3 {color: #ffffff;  font-size: 27px;}
a {text-decoration: none;color: #7e7e7e}

#header {width: 960px; height: 110px; margin-top: 10px; padding: 0px 204px;}
#header .logo img {float: left; width: 484px; height: 110px;}
#header .contacts {font-weight: bold; text-decoration: none;float: right;}
#header .contacts .number {font-size: 44px; float: right;}
#header .contacts .call_text {font-size: 25px;}

#menu {width: 960px; margin: 0 auto; padding: 0px 204px;}
#menu ul {background: #f3f3f3; font-size: 25px; margin: 0; padding-left: 12px;}
#menu ul li {display:inline-block; padding: 36px 36px 28px 40px;}
#menu ul li a {}
#menu ul li:hover {background: #28c5e6;}

#middle {width: 960px; margin: 0 auto; padding: 0px 204px; display: inline-block;}
#middle .left_side {width: 267px; height: 770px; float: left; margin-right: 29px; margin-top: 29px;}
#middle .left_side h3 {background: #28c5e6; padding: 25px 40px; margin: 0;}
#middle .left_side ul {list-style: none; background: #f3f3f3; font-size: 21px; padding: 12px 42px 176px;}
#middle .left_side ul li {line-height: 2;}
#middle .left_side ul li a:hover {color: #28c5e6;}

#middle .main {width: 664px; float: right; margin-top: 29px; display: inline-block;}
#middle .main .quote {background: #28c5e6; color: #ffffff; margin: 0; padding: 32px 32px 60px 30px; font-style: italic; font-weight: bold;}
#middle .main .quote .content {font-family: 'Sans', sans-serif; margin: 0; padding-right: 69px;}
#middle .main .quote .author {font-family: 'Open Sans', sans-serif; text-align: right; margin: 0; padding-top: 20px; font-size: 20px;}

.main_text {margin: 0; padding: 34px 32px 64px 30px;}
.main_text h3 {color: #7e7e7e; font-size: 26px; font-family: 'Open Sans', sans-serif; margin: 0;}
.main_text p {margin: 0px;}


.advantages {width: 664px; margin-bottom: 59px;}
.advantages h3 {background: #28c5e6; padding: 21px 30px; margin-bottom: 23px; margin-top: 0px;}
figcaption {color: #28c5e6; font-size: 25px; text-align: center;}
figure {display: inline-block;}
figure img {background: #c3c0c0; padding: 10px 46px;}
.icon_1 {margin: 0px; width: 209px;}
.icon_2 {margin: 0px 16px; width: 208px;}
.icon_3 {margin: 0px; width: 208px;}
.icon_3 img {float: right;}
.icon_2 img {float: right;}
.icon_1 img {float: left;}


#footer {background: #757373; margin: 0 auto; height: 100px;clear: both;}
#footer .footer_info {color: #ffffff; margin: 0 auto; padding: 0px 204px;}
#footer .dates {float: left; padding: 38px 47px; margin: 0;}
#footer .developer {float: right; padding: 38px 32px; margin: 0;}

